In [5]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
import numpy as np
import scipy.stats as st
import pandas as pd
from scipy.stats import f_oneway
import re

### 6개월치 데이터 합쳐서 저장.

In [8]:
# 1) 마케팅정보 파일들이 모여 있는 폴더
DATA_DIR = Path("open/train/6.채널정보")

# 2) 201807~201812 사이의 train-마케팅정보 Parquet 파일만 모으기
parquet_files = sorted(
    DATA_DIR.glob("2018??_train_*.parquet"),          # 201807, 201808 …
    key=lambda p: re.match(r"(\d{6})", p.name).group(1)
)

print("읽을 파일:", [p.name for p in parquet_files])

# 3) 파일별로 읽어 month 컬럼 붙이고 리스트에 저장
df_list = []
for fp in parquet_files:
    df = pd.read_parquet(fp)
    df["month"] = fp.stem[:6]       # '201807' 같은 연월
    df_list.append(df)

# 4) 하나로 병합
df_marketing = pd.concat(df_list, ignore_index=True)

# 5) (선택) 새 파일로 저장
output_path = DATA_DIR / "train_채널정보_201807_201812.parquet"
df_marketing.to_parquet(output_path, index=False)

# 6) 확인
print("병합 완료! 행·열:", df_marketing.shape)
display(df_marketing.head())
display(df_marketing.tail())

읽을 파일: ['201807_train_채널정보.parquet', '201808_train_채널정보.parquet', '201809_train_채널정보.parquet', '201810_train_채널정보.parquet', '201811_train_채널정보.parquet', '201812_train_채널정보.parquet']
병합 완료! 행·열: (2400000, 106)

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,month
0,201807,TRAIN_000000,10회 이상,10회 이상,8,6,0,2,6,2,...,0,22,221,6,Android,0,0,0,0,201807
1,201807,TRAIN_000001,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201807
2,201807,TRAIN_000002,1회 이상,1회 이상,1,1,0,2,5,1,...,0,0,0,0,Android,11,6,5,5,201807
3,201807,TRAIN_000003,10회 이상,10회 이상,10,6,0,2,6,2,...,0,23,219,6,Android,0,0,0,0,201807
4,201807,TRAIN_000004,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,Android,0,0,0,0,201807

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,month
2399995,201812,TRAIN_399995,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812
2399996,201812,TRAIN_399996,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,1,None,0,0,0,0,201812
2399997,201812,TRAIN_399997,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812
2399998,201812,TRAIN_399998,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812
2399999,201812,TRAIN_399999,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812

### 합친 데이터 불러와서 확인

In [11]:
df1 = pd.read_parquet('open/train/6.채널정보/파생/train_채널정보_201807_201812.parquet')
df1

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,month
0,201807,TRAIN_000000,10회 이상,10회 이상,8,6,0,2,6,2,...,0,22,221,6,Android,0,0,0,0,201807
1,201807,TRAIN_000001,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201807
2,201807,TRAIN_000002,1회 이상,1회 이상,1,1,0,2,5,1,...,0,0,0,0,Android,11,6,5,5,201807
3,201807,TRAIN_000003,10회 이상,10회 이상,10,6,0,2,6,2,...,0,23,219,6,Android,0,0,0,0,201807
4,201807,TRAIN_000004,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,Android,0,0,0,0,201807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812
2399996,201812,TRAIN_399996,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,1,None,0,0,0,0,201812
2399997,201812,TRAIN_399997,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812
2399998,201812,TRAIN_399998,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812
2399999,201812,TRAIN_399999,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,201812

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Columns: 106 entries, 기준년월 to month
dtypes: int64(98), object(8)
memory usage: 1.9+ GB

In [13]:
df1.describe()

,기준년월,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,방문월수_PC_R6M,방문후경과월_PC_R6M,방문일수_앱_R6M,...,당사PAY_방문횟수_B0M,당사PAY_방문횟수_R6M,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M
count,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,...,2400000.0,2400000.0,2400000.0,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06
mean,2.018095e+05,8.690288e-01,5.484083e-01,7.018121e-01,1.276996e-01,3.196038e-01,1.044304e-01,4.768792e-01,5.397019e+00,3.879475e+00,...,0.0,0.0,0.0,1.396040e+00,1.140625e+01,5.885179e-01,7.375242e-01,9.763875e-01,4.067225e-01,5.264267e-01
std,1.707825e+00,1.946545e+00,1.190408e+00,1.483387e+00,5.015725e-01,1.245971e+00,4.229458e-01,1.507584e+00,1.696640e+00,1.004851e+01,...,0.0,0.0,0.0,6.566001e+00,4.581328e+01,1.692597e+00,2.114160e+00,3.130675e+00,1.187245e+00,1.700495e+00
min,2.018070e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.018080e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.018095e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.018110e+05,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.018120e+05,1.200000e+01,6.000000e+00,5.000000e+00,3.000000e+00,7.000000e+00,2.000000e+00,6.000000e+00,6.000000e+00,6.400000e+01,...,0.0,0.0,0.0,6.300000e+01,2.590000e+02,6.000000e+00,1.500000e+01,3.000000e+01,8.000000e+00,1.600000e+01

In [17]:
# 중복된 행, 열 확인
df1.duplicated().sum()

0

### 전체 parquet 파일에 segment 컬럼 병합

In [21]:
# ── 1) 파일 읽기 
path_member   = Path("open/train/1.회원정보/201807_train_회원정보.parquet")
path_channel = Path("open/train/6.채널정보/파생/train_채널정보_201807_201812.parquet")

member_df   = pd.read_parquet(path_member)
channel_df = pd.read_parquet(path_channel)

# ── 2) Segment 컬럼만 추출 → ID 기준으로 병합
segment_df = member_df[["ID", "Segment"]]          # (필요 컬럼만)
channel_df = channel_df.merge(segment_df, on="ID", how="left")

# ── 4) 결과 저장 
# channel_df.to_parquet("open/train/6.채널정보/파생/train_채널정보_201807_201812_segment.parquet",
                    #index=False)

print("✔ Segment 컬럼 이동 완료!")

✔ Segment 컬럼 이동 완료!

In [23]:
df2 = pd.read_parquet('open/train/6.채널정보/파생/train_채널정보_201807_201812_segment.parquet')
df2

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,month,Segment
0,201807,TRAIN_000000,10회 이상,10회 이상,8,6,0,2,6,2,...,22,221,6,Android,0,0,0,0,201807,D
1,201807,TRAIN_000001,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,None,0,0,0,0,201807,E
2,201807,TRAIN_000002,1회 이상,1회 이상,1,1,0,2,5,1,...,0,0,0,Android,11,6,5,5,201807,C
3,201807,TRAIN_000003,10회 이상,10회 이상,10,6,0,2,6,2,...,23,219,6,Android,0,0,0,0,201807,D
4,201807,TRAIN_000004,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,Android,0,0,0,0,201807,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,None,0,0,0,0,201812,E
2399996,201812,TRAIN_399996,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,1,None,0,0,0,0,201812,D
2399997,201812,TRAIN_399997,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,None,0,0,0,0,201812,C
2399998,201812,TRAIN_399998,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,None,0,0,0,0,201812,E
2399999,201812,TRAIN_399999,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,None,0,0,0,0,201812,E

In [25]:
df2['Segment'].isna().sum()

0

### 결측치 개수와 비율을 확인해본다.

In [27]:
# 1) 컬럼별 결측치 개수
na_cnt = df2.isna().sum()

# 2) 컬럼별 결측치 비율 (%)
na_pct = (df2.isna().mean() * 100).round(2)

# 3) 보기 좋게 합친 테이블
na_summary = pd.DataFrame({"missing_count": na_cnt,
                           "missing_pct": na_pct}) \
                .sort_values("missing_pct", ascending=False)

display(na_summary.head(20))      # 결측률 높은 상위 20개만 미리보기

                   missing_count  missing_pct
OS구분코드                   1633566        68.07
기준년월                           0         0.00
상담건수_R6M                       0         0.00
IB문의건수_APP_R6M                 0         0.00
IB문의건수_SMS_R6M                 0         0.00
IB문의건수_비밀번호_R6M                0         0.00
IB문의건수_명세서_R6M                 0         0.00
IB문의건수_결제일변경_R6M               0         0.00
IB문의건수_정보변경_R6M                0         0.00
IB문의건수_할부_R6M                  0         0.00
IB문의건수_결제_R6M                  0         0.00
IB문의건수_선결제_R6M                 0         0.00
IB문의건수_한도_R6M                  0         0.00
IB문의건수_사용승인내역_R6M              0         0.00
IB상담건수_금감원_B0M                 0         0.00
IB문의건수_포인트_R6M                 0         0.00
IB상담건수_VOC불만_B0M               0         0.00
IB상담건수_VOC민원_B0M               0         0.00
IB상담건수_VOC_B0M                 0         0.00
IB문의건수_CS_B0M                  0         0.00

- OS구분코드 컬럼 외에는 결측치가 없다.
- OS구분코드 컬럼은 결측치의 비율이 68%나 되므로 삭제한다.

### 삭제할 컬럼들 정리
- 기존에 컬럼분석을 통해 제거하기로 한 컬럼들은 제거한다.
- OS구분코드 컬럼은 결측치가 너무 많아 제거한다.
- Segment를 합치면서 생성된 month 컬럼을 제거한다.
- 컬럼 내의 모든 데이터가 같은 컬럼은 제거한다.

### 제거1. 컬럼의 모든 데이터가 같은 컬럼

- 모든 데이터가 같은 컬럼 확인

In [29]:
constant_cols = [col for col in df2.columns
                 if df2[col].nunique(dropna=False) <= 1]

constant_cols

['인입횟수_금융_IB_R6M',
 '인입불만횟수_IB_R6M',
 '인입불만일수_IB_R6M',
 '인입불만월수_IB_R6M',
 '인입불만후경과월_IB_R6M',
 '인입불만횟수_IB_B0M',
 '인입불만일수_IB_B0M',
 'IB문의건수_한도_B0M',
 'IB문의건수_결제_B0M',
 'IB문의건수_할부_B0M',
 'IB문의건수_정보변경_B0M',
 'IB문의건수_결제일변경_B0M',
 'IB문의건수_명세서_B0M',
 'IB문의건수_비밀번호_B0M',
 'IB문의건수_SMS_B0M',
 'IB문의건수_APP_B0M',
 'IB문의건수_부대서비스_B0M',
 'IB문의건수_포인트_B0M',
 'IB문의건수_BL_B0M',
 'IB문의건수_분실도난_B0M',
 'IB문의건수_CA_B0M',
 'IB상담건수_VOC_B0M',
 'IB상담건수_VOC민원_B0M',
 'IB상담건수_VOC불만_B0M',
 'IB상담건수_금감원_B0M',
 'IB문의건수_명세서_R6M',
 'IB문의건수_APP_R6M',
 'IB상담건수_VOC_R6M',
 'IB상담건수_VOC민원_R6M',
 'IB상담건수_VOC불만_R6M',
 'IB상담건수_금감원_R6M',
 '불만제기건수_B0M',
 '불만제기건수_R12M',
 '당사PAY_방문횟수_B0M',
 '당사PAY_방문횟수_R6M',
 '당사PAY_방문월수_R6M']

- 모든 데이터가 같은 컬럼 제거

In [31]:
const_cols = df2.columns[df2.nunique(dropna=False) == 1]
#print("상수 컬럼:", list(const_cols))

# 3) 상수 컬럼 삭제
df3 = df2.drop(columns=const_cols)

for col in df3.columns:
    print(f"\n===== [ {col} ] =====")
    
    # 1) 값 분포 (결측치 포함)
    print("▶ value_counts (dropna=False)")
    print(df3[col].value_counts(dropna=False))
# 4) 결과 저장
#df3.to_parquet("201807_201812_segment_컬럼제거", index=False)
#print("상수 컬럼 제거 후 저장 완료!")

===== [ 기준년월 ] =====
▶ value_counts (dropna=False)
기준년월
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64

===== [ ID ] =====
▶ value_counts (dropna=False)
ID
TRAIN_000000    6
TRAIN_266650    6
TRAIN_266672    6
TRAIN_266671    6
TRAIN_266670    6
               ..
TRAIN_133331    6
TRAIN_133330    6
TRAIN_133329    6
TRAIN_133328    6
TRAIN_399999    6
Name: count, Length: 400000, dtype: int64

===== [ 인입횟수_ARS_R6M ] =====
▶ value_counts (dropna=False)
인입횟수_ARS_R6M
1회 이상     2328933
10회 이상      71067
Name: count, dtype: int64

===== [ 이용메뉴건수_ARS_R6M ] =====
▶ value_counts (dropna=False)
이용메뉴건수_ARS_R6M
1회 이상     2313787
10회 이상      70027
30회 이상      10172
20회 이상       6014
Name: count, dtype: int64

===== [ 인입일수_ARS_R6M ] =====
▶ value_counts (dropna=False)
인입일수_ARS_R6M
0     1683964
1      266478
2      200257
3       74634
4       39222
5       26364
6       21823
8       20994
9       19334
7       19244
10      15987
12       9904
11       1795
Name: count, dtype: int64

===== [ 인입월수_ARS_R6M ] =====
▶ value_counts (dropna=False)
인입월수_ARS_R6M
0    1696515
1     410652
2     208764
6      78256
3       4967
4        667
5        179
Name: count, dtype: int64

===== [ 인입후경과월_ARS ] =====
▶ value_counts (dropna=False)
인입후경과월_ARS
0    1880190
5     128172
4     117176
3     104298
2      91727
1      78437
Name: count, dtype: int64

===== [ 인입횟수_ARS_B0M ] =====
▶ value_counts (dropna=False)
인입횟수_ARS_B0M
0    2251753
2     138258
3       9987
1          2
Name: count, dtype: int64

===== [ 이용메뉴건수_ARS_B0M ] =====
▶ value_counts (dropna=False)
이용메뉴건수_ARS_B0M
0    2250867
5     120284
6      25115
4       3733
7          1
Name: count, dtype: int64

===== [ 인입일수_ARS_B0M ] =====
▶ value_counts (dropna=False)
인입일수_ARS_B0M
0    2251797
2     102430
1      45773
Name: count, dtype: int64

===== [ 방문횟수_PC_R6M ] =====
▶ value_counts (dropna=False)
방문횟수_PC_R6M
1회 이상     2221841
20회 이상      77377
10회 이상      67199
30회 이상      32730
40회 이상        853
Name: count, dtype: int64

===== [ 방문일수_PC_R6M ] =====
▶ value_counts (dropna=False)
방문일수_PC_R6M
1회 이상     2236992
10회 이상     102991
20회 이상      57986
30회 이상       2031
Name: count, dtype: int64

===== [ 방문월수_PC_R6M ] =====
▶ value_counts (dropna=False)
방문월수_PC_R6M
0    2064931
1     173058
6     161856
2        151
3          3
5          1
Name: count, dtype: int64

===== [ 방문후경과월_PC_R6M ] =====
▶ value_counts (dropna=False)
방문후경과월_PC_R6M
6    2092569
0     182267
3      27879
4      27467
2      27325
5      26696
1      15797
Name: count, dtype: int64

===== [ 방문횟수_앱_R6M ] =====
▶ value_counts (dropna=False)
방문횟수_앱_R6M
1회 이상     2082674
10회 이상      93648
20회 이상      63543
30회 이상      53407
40회 이상      44356
50회 이상      31544
60회 이상      22343
70회 이상       8170
80회 이상        315
Name: count, dtype: int64

===== [ 방문일수_앱_R6M ] =====
▶ value_counts (dropna=False)
방문일수_앱_R6M
0     1850835
3       43801
4       38531
2       33029
5       32669
       ...
60        244
61        114
62         38
63         14
64          3
Name: count, Length: 65, dtype: int64

===== [ 방문월수_앱_R6M ] =====
▶ value_counts (dropna=False)
방문월수_앱_R6M
0    1840205
6     291758
1     128752
5     108473
4      14951
2      12019
3       3842
Name: count, dtype: int64

===== [ 방문후경과월_앱_R6M ] =====
▶ value_counts (dropna=False)
방문후경과월_앱_R6M
6    1865997
0     442067
1      24231
3      18166
4      17294
2      16937
5      15308
Name: count, dtype: int64

===== [ 방문횟수_모바일웹_R6M ] =====
▶ value_counts (dropna=False)
방문횟수_모바일웹_R6M
0     2349905
4       32837
5        9591
3        7457
6         169
2          32
8           4
9           3
7           1
13          1
Name: count, dtype: int64

===== [ 방문일수_모바일웹_R6M ] =====
▶ value_counts (dropna=False)
방문일수_모바일웹_R6M
0     2349924
3       25622
4       23438
5         700
2         311
8           4
12          1
Name: count, dtype: int64

===== [ 방문월수_모바일웹_R6M ] =====
▶ value_counts (dropna=False)
방문월수_모바일웹_R6M
0    2347481
1      52519
Name: count, dtype: int64

===== [ 방문후경과월_모바일웹_R6M ] =====
▶ value_counts (dropna=False)
방문후경과월_모바일웹_R6M
6    2370628
5       9173
4       5759
3       5084
2       4124
1       3554
0       1678
Name: count, dtype: int64

===== [ 방문횟수_PC_B0M ] =====
▶ value_counts (dropna=False)
방문횟수_PC_B0M
0    2230827
6     102196
5      54053
7      11277
4       1399
8        241
3          6
9          1
Name: count, dtype: int64

===== [ 방문일수_PC_B0M ] =====
▶ value_counts (dropna=False)
방문일수_PC_B0M
0    2231071
4     119547
5      45707
3       3297
6        370
2          8
Name: count, dtype: int64

===== [ 방문횟수_앱_B0M ] =====
▶ value_counts (dropna=False)
방문횟수_앱_B0M
0     1970714
3      105455
4      105154
5       51787
6       40352
7       33269
8       26690
9       20372
10      15735
11      11534
2        8625
12       6649
13       2759
14        716
1         123
15         64
16          2
Name: count, dtype: int64

===== [ 방문일수_앱_B0M ] =====
▶ value_counts (dropna=False)
방문일수_앱_B0M
0     1971052
3      164657
4       68286
5       51812
6       40395
2       40088
7       28825
8       20347
9       11281
10       2982
11        191
1          84
Name: count, dtype: int64

===== [ 방문횟수_모바일웹_B0M ] =====
▶ value_counts (dropna=False)
방문횟수_모바일웹_B0M
0    2399883
4        111
5          6
Name: count, dtype: int64

===== [ 방문일수_모바일웹_B0M ] =====
▶ value_counts (dropna=False)
방문일수_모바일웹_B0M
0    2399890
4        110
Name: count, dtype: int64

===== [ 인입횟수_IB_R6M ] =====
▶ value_counts (dropna=False)
인입횟수_IB_R6M
0     1716330
2      237488
3      121760
1       96051
4       73419
5       39496
6       29576
7       19914
8       18500
10      15536
9       14236
11      11246
12       6257
13        177
14         13
15          1
Name: count, dtype: int64

===== [ 인입일수_IB_R6M ] =====
▶ value_counts (dropna=False)
인입일수_IB_R6M
0    1719273
1     280764
2     200756
3      85427
4      44909
5      30324
6      25175
7      13339
8         33
Name: count, dtype: int64

===== [ 인입월수_IB_R6M ] =====
▶ value_counts (dropna=False)
인입월수_IB_R6M
0    1721061
1     431590
2     198092
3      23743
4      21658
6       3552
5        304
Name: count, dtype: int64

===== [ 이용메뉴건수_IB_R6M ] =====
▶ value_counts (dropna=False)
이용메뉴건수_IB_R6M
0    1722681
2     259492
1     214329
3     110172
4      53512
5      33874
6       5940
Name: count, dtype: int64

===== [ 인입후경과월_IB_R6M ] =====
▶ value_counts (dropna=False)
인입후경과월_IB_R6M
6    1752686
5     128520
4     118487
0     112078
3     106632
2      95681
1      85916
Name: count, dtype: int64

===== [ 인입횟수_IB_B0M ] =====
▶ value_counts (dropna=False)
인입횟수_IB_B0M
0    2290196
2     109268
3        536
Name: count, dtype: int64

===== [ 인입일수_IB_B0M ] =====
▶ value_counts (dropna=False)
인입일수_IB_B0M
0    2310537
1      89462
2          1
Name: count, dtype: int64

===== [ 이용메뉴건수_IB_B0M ] =====
▶ value_counts (dropna=False)
이용메뉴건수_IB_B0M
0    2319230
1      80770
Name: count, dtype: int64

===== [ 상담건수_B0M ] =====
▶ value_counts (dropna=False)
상담건수_B0M
0    2290448
2     109205
3        347
Name: count, dtype: int64

===== [ IB문의건수_사용승인내역_B0M ] =====
▶ value_counts (dropna=False)
IB문의건수_사용승인내역_B0M
0    2399916
1         84
Name: count, dtype: int64

===== [ IB문의건수_선결제_B0M ] =====
▶ value_counts (dropna=False)
IB문의건수_선결제_B0M
0    2392763
1       7237
Name: count, dtype: int64

===== [ IB문의건수_카드발급_B0M ] =====
▶ value_counts (dropna=False)
IB문의건수_카드발급_B0M
0    2399995
1          5
Name: count, dtype: int64

===== [ IB문의건수_CL_RV_B0M ] =====
▶ value_counts (dropna=False)
IB문의건수_CL_RV_B0M
0    2399835
1        165
Name: count, dtype: int64

===== [ IB문의건수_CS_B0M ] =====
▶ value_counts (dropna=False)
IB문의건수_CS_B0M
0    2399623
4        369
3          8
Name: count, dtype: int64

===== [ 상담건수_R6M ] =====
▶ value_counts (dropna=False)
상담건수_R6M
0     1686749
2      219050
3      144699
1      102229
4       78125
5       45863
6       30891
7       23119
8       19215
9       16774
10      16053
11      13643
12       3567
13         23
Name: count, dtype: int64

===== [ IB문의건수_사용승인내역_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_사용승인내역_R6M
0    2274317
2     112250
1      13433
Name: count, dtype: int64

===== [ IB문의건수_한도_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_한도_R6M
0    2388620
2      11380
Name: count, dtype: int64

===== [ IB문의건수_선결제_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_선결제_R6M
0    2263827
2      56263
3      42994
4      26893
5       7608
1       2295
6        120
Name: count, dtype: int64

===== [ IB문의건수_결제_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_결제_R6M
0    2396358
2       3508
1        134
Name: count, dtype: int64

===== [ IB문의건수_할부_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_할부_R6M
0    2399211
1        789
Name: count, dtype: int64

===== [ IB문의건수_정보변경_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_정보변경_R6M
0    2361911
1      38089
Name: count, dtype: int64

===== [ IB문의건수_결제일변경_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_결제일변경_R6M
0    2372405
1      27587
2          5
5          3
Name: count, dtype: int64

===== [ IB문의건수_비밀번호_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_비밀번호_R6M
0    2399735
1        265
Name: count, dtype: int64

===== [ IB문의건수_SMS_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_SMS_R6M
0    2398606
1       1394
Name: count, dtype: int64

===== [ IB문의건수_부대서비스_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_부대서비스_R6M
0    2399975
1         25
Name: count, dtype: int64

===== [ IB문의건수_포인트_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_포인트_R6M
0    2399952
1         47
4          1
Name: count, dtype: int64

===== [ IB문의건수_카드발급_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_카드발급_R6M
0    2371084
1      28916
Name: count, dtype: int64

===== [ IB문의건수_BL_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_BL_R6M
0    2399697
1        303
Name: count, dtype: int64

===== [ IB문의건수_분실도난_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_분실도난_R6M
0    2386285
1      13715
Name: count, dtype: int64

===== [ IB문의건수_CA_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_CA_R6M
0    2399367
1        629
8          3
2          1
Name: count, dtype: int64

===== [ IB문의건수_CL_RV_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_CL_RV_R6M
0    2357224
1      42658
2        117
3          1
Name: count, dtype: int64

===== [ IB문의건수_CS_R6M ] =====
▶ value_counts (dropna=False)
IB문의건수_CS_R6M
0    2397251
4       1489
3       1008
1        251
6          1
Name: count, dtype: int64

===== [ 불만제기후경과월_R12M ] =====
▶ value_counts (dropna=False)
불만제기후경과월_R12M
12    1313922
0     1086078
Name: count, dtype: int64

===== [ 당사멤버쉽_방문횟수_B0M ] =====
▶ value_counts (dropna=False)
당사멤버쉽_방문횟수_B0M
0     2277993
22      41109
23      28276
43      20508
42      16546
3        4854
8        2964
24       2043
1        1608
41       1385
21       1261
44        823
7         231
25        134
4         111
40         74
20         32
9          15
45         15
26          8
62          2
39          2
61          2
60          2
46          1
63          1
Name: count, dtype: int64

===== [ 당사멤버쉽_방문횟수_R6M ] =====
▶ value_counts (dropna=False)
당사멤버쉽_방문횟수_R6M
0      2072232
2       112520
8        55449
216      10364
215      10293
        ...
166          1
167          1
164          1
252          1
251          1
Name: count, Length: 247, dtype: int64

===== [ 당사멤버쉽_방문월수_R6M ] =====
▶ value_counts (dropna=False)
당사멤버쉽_방문월수_R6M
0    2052315
6     208167
1     116409
2      22313
3        779
4         16
5          1
Name: count, dtype: int64

===== [ OS구분코드 ] =====
▶ value_counts (dropna=False)
OS구분코드
None       1633566
Android     594348
IOS         172086
Name: count, dtype: int64

===== [ 홈페이지_금융건수_R6M ] =====
▶ value_counts (dropna=False)
홈페이지_금융건수_R6M
0     2099135
6       66536
3       51356
4       42953
8       38373
5       31434
7       27193
9       14065
10      12535
2        5488
11       5440
12       3836
13       1170
14        420
15         37
1          29
Name: count, dtype: int64

===== [ 홈페이지_선결제건수_R6M ] =====
▶ value_counts (dropna=False)
홈페이지_선결제건수_R6M
0     2103789
4       41775
6       31857
5       31006
3       30510
7       30271
8       28942
9       17584
10      13733
11       9547
2        8022
12       7577
13       6049
14       5251
15       4915
16       4321
17       3975
18       3518
19       3075
20       2756
21       2439
22       2154
23       1877
24       1651
25       1153
1         865
26        768
27        412
28        157
29         42
30          9
Name: count, dtype: int64

===== [ 홈페이지_금융건수_R3M ] =====
▶ value_counts (dropna=False)
홈페이지_금융건수_R3M
0    2133432
3     130798
4      88417
5      30426
6       9296
2       6254
7       1358
8         19
Name: count, dtype: int64

===== [ 홈페이지_선결제건수_R3M ] =====
▶ value_counts (dropna=False)
홈페이지_선결제건수_R3M
0     2145192
4       85332
3       59197
5       39670
6       19438
7       11812
8        9153
9        7728
10       5940
2        5136
11       4724
12       3671
13       2059
14        719
1         135
15         93
16          1
Name: count, dtype: int64

===== [ month ] =====
▶ value_counts (dropna=False)
month
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64

===== [ Segment ] =====
▶ value_counts (dropna=False)
Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

In [33]:
num_cols = len(df3.columns)
num_cols

71

### 제거2. 컬럼 분석을 통해 제거하고자 하는 컬럼들 + os구분코드 컬럼 + month 컬럼

In [35]:
cols_to_drop = [
    "인입후경과월_ARS", "인입후경과월_IB_R6M", "방문후경과월_PC_R6M", "방문후경과월_앱_R6M",
    "방문후경과월_모바일웹_R6M", "인입월수_ARS_R6M", "방문월수_PC_R6M",
    "방문월수_앱_R6M", "방문월수_모바일웹_R6M", "인입월수_IB_R6M",
    "당사멤버쉽_방문월수_R6M", "OS구분코드", "month"
]

df3 = df3.drop(columns=cols_to_drop)

In [37]:
num_cols = len(df3.columns)
num_cols

58

### 저장한다.

In [40]:
df3.to_parquet('open/train/6.채널정보/train_채널정보_전처리', index=False)