In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 학습 모델 저장을 위한 라이브러리
import pickle

import matplotlib as mpl
import matplotlib.font_manager as fm

In [3]:
# 데이터를 읽어온다.
df1 = pd.read_parquet('test_all.parquet')
df2 = pd.read_parquet('train_all_high_corr.parquet')

In [5]:
df3 = df1[df2.columns]

In [7]:
df3

,기준년월,ID,이용금액_R3M_신용체크,입회경과개월수_신용,소지카드수_유효_신용,_2순위카드이용금액,최초한도금액,CA한도금액,CA이자율_할인전,시장연체상환여부_R3M,...,IB문의건수_사용승인내역_R6M,IB문의건수_선결제_R6M,불만제기후경과월_R12M,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,인입횟수_ARS_R6M,컨택건수_이용유도_TM_R6M,컨택건수_이용유도_EM_R6M,잔액_한도소진율,변동률_RV평잔
0,201807,TEST_00000,21458,51,2,6021,0,18131,14.641712,0,...,0,0,0,0,0,0,0,2,-0.923305,0.321733
1,201807,TEST_00001,18681,30,1,0,0,16819,18.992879,0,...,0,0,12,0,0,0,2,3,0.819397,0.321733
2,201807,TEST_00002,40758,5,2,10704,0,30505,14.823453,0,...,0,0,12,0,0,0,2,5,0.369859,0.321733
3,201807,TEST_00003,5255,73,1,0,0,6402,15.121715,0,...,0,0,12,0,0,0,3,22,-1.287884,0.321733
4,201807,TEST_00004,16148,176,1,6387,10000,0,14.220050,0,...,0,0,12,0,0,0,0,9,6.013879,0.321733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,69,0,0,0,0,14.642972,0,...,0,0,0,0,0,0,0,0,-2.032693,0.321733
599996,201812,TEST_99996,3110,14,1,0,0,17876,14.221370,0,...,0,0,12,3,7,0,0,9,-1.915526,0.321733
599997,201812,TEST_99997,0,6,1,0,0,13332,15.207480,0,...,0,0,0,0,0,0,18,12,-1.977858,-5.930751
599998,201812,TEST_99998,173263,82,3,31916,0,17362,15.268772,0,...,0,0,12,7,22,0,0,0,2.369461,0.321733
599999,201812,TEST_99999,3016,40,1,4762,0,30242,14.722716,0,...,0,0,0,0,0,0,0,0,-2.104217,0.321733

In [9]:
df3.to_parquet('test_all_high_corr.parquet')